<nav>
  <ul>
    <li><a [routerLink]="['/home']" routerLinkActive="active">HOME</a></li>
    <li><a [routerLink]="['/calculadora']" routerLinkActive="active">CALCULATOR</a></li>
    <li><a [routerLink]="['/read Me']" routerLinkActive="active">READ</a></li>
    <li><a [routerLink]="['/experiments']" routerLinkActive="router-link-active">EXPERIMENTS</a></li>
    <li><a [routerLink]="['/evAndRef']" routerLinkActive="router-link-active">EV-AND-REF</a></li>
    <li><a [routerLink]="['/fichaAnimal']" routerLinkActive="active">FICHA-ANIMAL</a></li>
  </ul>
</nav>
